<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{note.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-thumbnail>
    <img src="/assets/company-icon.png" />
  </ion-thumbnail>
  <ion-list *ngIf="note">
    <ion-item>
      <ion-input label="عنوان الرسالة" labelPlacement="floating" [(ngModel)]="note.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea cols="20" [autoGrow]="true" placeholder="نص الرسالة" label="الرسالة" labelPlacement="floating" [(ngModel)]="note.message">
      </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>