<ion-header [translucent]="true" collapse="fade">
  <ion-toolbar>
    <ion-title>بيانات المستخدم</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="user">
    <ion-item>
      <ion-input label="الاسم" labelPlacement="floating" placeholder="الاسم" [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="النوع" label-placement="fixed" [(ngModel)]="user.type" okText="تمام" cancelText="الغاء">
        <ion-select-option [value]="state.id" *ngFor="let state of types">{{state.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="البريد الالكتروني" labelPlacement="floating" placeholder="البريد الالكتروني"
        [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="الرقم السري" labelPlacement="floating" placeholder="الرقم السري"
        [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="رقم الهاتف" labelPlacement="floating" placeholder="رقم الهاتف"
        [(ngModel)]="user.phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="العنوان" labelPlacement="floating" placeholder="العنوان" [(ngModel)]="user.address"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-margin ion-text-center">
    <ion-button color="primary" size="large" fill="outline" expand="block" (click)="save()" button>
      <ion-icon slot="start" name="checkbox-outline"></ion-icon>
      <b>حفظ</b>
    </ion-button>
  </div>
</ion-content>