<ion-card mode="ios">
  <ion-card-header>
    <ion-card-title>
      <ion-item lines="full">
        <ion-icon size="large" aria-hidden="true" mode="ios" name="book-outline" slot="start"></ion-icon>
        <ion-label>القران الكريم</ion-label>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-button fill="clear" (click)="quran()">القران كاملا</ion-button>
  <ion-button fill="clear" (click)="chapters()">الفهرس</ion-button>
  <ion-button fill="clear" (click)="juzs()">الاجزاء</ion-button>
  <ion-button fill="clear" (click)="search()">البحث</ion-button>
</ion-card>