<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      الرئيسية
    </ion-tab-button>
    <ion-tab-button tab="tours">
      <ion-icon name="layers"></ion-icon>
      جولاتي
    </ion-tab-button>
    <ion-tab-button tab="organization">
      <ion-icon name="business-outline"></ion-icon>
      الشركة
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      الاشعارات
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      انا
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
